#app {
    width: 100vw;
    height: 100%;
    background-color: #d8d8d8;
    font-family: 'Work Sans', sans-serif;
    overflow-x: hidden;
    padding-bottom: 100px;
}

html {
    height: 100vh;
}

body {
    height: 100%;
    overflow-x: hidden;
}

input {
    border: 1px lightblue solid;
    border-radius: 5px;
}

.button-custom {
    border: 2px solid aqua;
    border-radius: 15px;
    padding: 5px 20px;
    background-color: aliceblue;
}

.button-custom:hover {
    transition: ease-out 0.5s;
    background-color: aqua;
    border: 2px solid rgb(147 147 147);
}